* {
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    cursor: default;

    h1 {
        text-align: center;
        font-family: 'Lexend Exa';
        color: #363555;
        font-size: 3em;
        border-radius: 60px;
        display: inline-block;
        margin: 0;
        padding: 10px 20px;
        border: 1px solid #363555;
    }
}

body {
    background-color: #fcefdc;
    padding: 10px;
}

.sidebar-container {
    background-color: #000;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    border-radius: 30px;
    padding: 35px;
    margin: 0;
    width: max-content;
    height: 94vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    
    img {
        height: 60px;
        display: block;
        margin: 0px auto;
    }
}

h1 {
    color: #fff;
    margin: 0px;
    font-size: 1em;
    display: inline-block;
    border: 1px solid #fff;
}

p {
    color: #999;
    margin: 10px 0px;
    font-size: .9em;
}

div {
    list-style-type: none;
    font-size: .9em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    a {
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    
        &:hover:not(.selected) {
            color: #999;
            cursor: pointer;
        }
    }
}

.selected {
    border-radius: 30px;
    width: 100%;
    animation: moveSelectorDown 1s ease;
}

.pink {
    background-color: #fd92c8;
}

.green {
    background-color: #85f1cb;
    color: #363555;
}

.yellow {
    background-color: #ffe586;
    color: #363555;
}

.blue {
    background-color: #00a2e9;
}


@keyframes moveSelectorDown {
    0% {transform: translateY(0%)}
    50% {transform: translateY(10%);}
    100% {transform: translateY(0%);}
}

.premium:not(.selected) {
    animation: premiumColor 3s infinite;
    border-radius: 30px;
    font-weight: bold;
}

@keyframes premiumColor {
    20% {color: #ffb62c;}
    40% {color: #fe881e;}
    60% {color: #f45f72;}
    80% {color: #975cf6;}
    100% {color: #ec93ed;}

}

.dashboard-main {
    margin-left: 245px;
    width: 83%;
    height: 94vh;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    h1 {
        color: #363555;
        border: none;
        font-size: 2.5em;
        text-align: left;
        padding: 20px 10px 0px;
        order: 0;
    }

    div form {
        align-self: flex-end;
        padding: 20px 10px 0px;
        margin: 0;
        order: 1;

        input {
            width: 200px;
            font-size: 1.1em;
            padding: 5px 10px;
            border-radius: 30px 0px 0px 30px;
            margin: 0;
            border: none;

            &:hover {
                cursor: text;
            }
        }

        button {
            padding: 5px 10px;
            border-radius: 0px 30px 30px 0px;
            background-color: #fff;
            margin: 0;
            border: none;
            font-size: 1.1em;
        }
    }
}

.premium-main {
    margin-left: 245px;
    width: 83%;
    height: 94vh;
    padding: 30px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    h1 {
        color: #363555;
        border: none;
        font-size: 2.5em;
        text-align: center;
        padding: 20px 10px 0px;
        justify-self: flex-start;
    }
}