* {
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    cursor: default;

    h1 {
        text-align: center;
        font-family: 'Lexend Exa';
        color: #363555;
        font-size: 3em;
        border-radius: 60px;
        display: inline-block;
        margin: 0;
        padding: 10px 20px;
        border: 1px solid #363555;
    }
}

body {
    background-color: #fcefdc;
    padding: 10px;
}

header {
    background-color: #000;
    border-radius: 30px;
    padding: 35px;
    margin: 0;
    display: inline-block;
    height: 94vh;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    img {
        height: 60px;
        display: block;
        margin: 0px auto;
    }

}

h1 {
    color: #fff;
    margin: 0px;
    font-size: 1em;
    display: inline-block;
    border: 1px solid #fff;
}

p {
    color: #999;
    margin: 10px 0px;
    font-size: .9em;
}

ul {
    list-style-type: none;
    font-size: .9em;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}

li a {
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    
    &:hover:not(.selected) {
        color: #999;
    }
}

.selected {
    background-color: #fd92c8;
    border-radius: 30px;
    width: 100%;
    animation: moveSelectorDown 1s ease;
}

@keyframes moveSelectorDown {
    0% {transform: translateY(-10%);}
    100% {transform: translateY(0%);}
}